#panel-section{
  position: fixed;
  top: 0;
  height: 270px;
  min-width: 250px;
  z-index: 2;
  background-color: white;
}

#combat-panel{
  display: flex;
  margin-left: 83px;
}

#combat-panel .country-title{
  text-align: center;
}

#combat-panel img{
  margin-bottom: 12.5px;
}

#combat-panel .details{
  width: 150px;
  margin: auto;
}

#combat-panel img{
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
