#combat-section{
  position: fixed;
  top: 0;
  height: 270px;
  min-width: 250px;
  z-index: 2;
  background-color: white;
}

#combat-section article{
  display: flex;
  margin-left: 83px;
}

#combat-section article .country-title{
  text-align: center;
}

#combat-section article img{
  margin-bottom: 12.5px;
}

#combat-section article .details{
  width: 150px;
  margin: auto;
}

#combat-section article img{
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
