.country-container{
  display: flex;
}

.country-inner-container-left, .country-inner-container-right{
  display: flex;
}

.country-inner-container-left{
  flex: 60;
}

.country-inner-container-right{
  flex: 40;
}

.flag-img{
  width: 192px;
  height: 110px;
}

.country-inner-container-left p{
  margin: 0 5px 0 5px;
}

.country-robo-img{
  width: 120px;
  height: 120px;
}

.country-container ul{
  height: 120px;
  margin: 0;
  list-style-type: none;
  padding-left: 10px;
}

.combatant-button-container{
  display: flex;
}

.combatant-btn{
  flex: 1;
  margin: 10px;
  padding: 15px;
}
