body{
  margin: 0;
}

#primary-container{
  width: 700px;
  margin: auto;
}

section{
  width: 700px;
}

#combat-section{
  position: fixed;
  height: 250px;
  min-width: 250px;
  z-index: 2;
}

#list-section{
  position: relative;
  height: 5000px;
  top: 260px;
  background: blue;
  z-index: 1;
}

#combat-section article{
  display: flex;
  margin-left: 83px;
}

#combat-section article img{
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
