body{
  margin: 0;
}

#primary-container{
  width: 700px;
  margin: auto;
}

section{
  width: 700px;
}

#panel-section{
  position: fixed;
  top: 0;
  min-width: 250px;
  z-index: 2;
  background-color: white;
}

#list-section{
  position: relative;
  height: 5000px;
  top: 330px;
  min-width: 250px;
  z-index: 1;
}

#chart-panel{
  height: 270px;
}

#nav-panel{
  padding-top: 10px;
  width: 100%;
  background-color: white;
  display: flex;
}

#nav-panel p{
  text-align: center;
  flex: 1;
  margin: 5px 0 5px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 20px;
}

#nav-panel p:hover{
  cursor: pointer;
}

#lower-divider{
  margin: 5px 0 0 0;
}
